<li class='clearfix record <%= cycle("on", "on-hover") %>'>
  <span class='title'>
    <%= link_to inquiry.name, admin_inquiry_url(inquiry) %> <%= t('.said') %>
    <span class="preview"><%= truncate(strip_tags(inquiry.message), :length => 60) -%></span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag('delete.png'), admin_inquiry_url(inquiry),
              { :method => :delete, 
                :confirm => t('shared.admin.delete.message', :title => inquiry.name) },
                :class => "cancel confirm-delete",
                :title => t('admin.inquiries.delete') -%>

    <%= link_to refinery_icon_tag('zoom.png'), admin_inquiry_url(inquiry),
                :title => t('.read_inquiry') -%>

    <!-- hiding because we're not using ham/spam
    <%# if inquiry.spam? %>
      <%#= link_to refinery_icon_tag('email.png'), toggle_spam_admin_inquiry_url(inquiry),
                  :title => t('.mark_as_ham') -%>
    <%# else %>
      <%#= link_to refinery_icon_tag('bin_closed.png'), toggle_spam_admin_inquiry_url(inquiry),
                  :title => t('.mark_as_spam') -%>
    <%# end %>-->
  </span>
</li>
