<%= t('.greeting') %>,

<%= t('.you_recieved_new_inquiry') %>

<%= t('.inquiry_starts') %>

<%= t('.from') %>: <%= @inquiry.name %>
<%= t('.email') %>: <%= @inquiry.email %>
Company: <%= @inquiry.company %>
<% unless @inquiry.address.blank? %>
  Address: <%= @inquiry.address %>
<% end %>
<% unless @inquiry.city.blank? %>>
  City: <%= @inquiry.city %>
<% end %>
<% unless @inquiry.state.blank? %>
  State: <%= @inquiry.state %>
<% end %>
<% unless @inquiry.zip.blank? %>
  Zip: <%= @inquiry.zip %>
<% end %>
<% unless @inquiry.country.blank? %>
  Country: <%= @inquiry.country %>
<% end %>
<%= t('.phone') %>: <%= @inquiry.phone %>

<%= t('.message') %>:
<%= @inquiry.message %>

<%= t('.inquiry_ends') %>

<%= t('.closing_line') %>,
<%= RefinerySetting[:site_name] %>

<%= t('.ps') %>
