<div id="main">
  <%= render :partial => "/shared/content_page" %> 
  <div class='inquiries'>
<%#=raw @page[Page.default_parts.first.to_sym] %>

    <%= form_for @inquiry do |f| %>
      <%= render :partial => "/shared/admin/error_messages",
        :locals => {
        :object => @inquiry,
        :include_object_name => true
      } %>
      <div class='field'>
        <%= f.required_label :name %>
        <%= f.text_field :name %>
      </div>
      <div class='field'>
        <%= f.required_label :company %>
        <%= f.text_field :company %>
      </div>
      <div class='field'>
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>
      <div class='field'>
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
      <div class='field'>
        <%= f.label :state %>
        <%= f.text_field :state %>
      </div>
      <div class="field">
        <%= f.label :zip %>
        <%= f.text_field :zip %>
      </div>
      <div class="field">
        <%= f.label :country %>
        <%= f.text_field :country %>
      </div>
      <div class='field'>
        <%= f.required_label :phone %>
        <%= f.text_field :phone %>
      </div>
      <div class='field'>
        <%= f.required_label :email %>
        <%= f.text_field :email %>
      </div>
      
      <span class="note">* Required field</span>
      <br /><br />
      <div class='field message_field'>
        <%= f.required_label "How Can We Help You?"  %><br />
        <%= f.text_area :message, :rows => 8, :cols => 47 %>
      </div>
      
      <div class='field'>
          <%= recaptcha_tags %>
      </div>
      
      <div class='actions'>
        <%= f.submit t('.send') %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if RefinerySetting.find_or_set(:show_contact_privacy_link, false) %>
      </div>
      <br /><br />
    <% end %>
  </div>
</div>
<div id="main-side">
  <% @page.snippets.each do |s| %>
    <%= raw s.body %>
  <% end %>
</div>